footer {
  background-color: var(--color-azul);
  color: var(--color-blanco);
  padding: 20px;
  text-align: center;
}

footer h2 {
  font-weight: var(--font-bold);
}

footer p {
  margin: 10px 0;
}

footer .copyright {
  margin-top: 20px;
  font-size: 0.9rem;
  color: var(--color-amarillo);
}
