header {
  background-color: var(--color-azul);
  height:90px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  position: fixed;
  top:0;
  width:100%;
  z-index:1000;
}

header .logo img {
  max-width: 150px;
}

header ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

header ul li {
  display: inline;
}

header ul li a {
  color: var(--color-blanco);
  text-decoration: none;
  font-weight: var(--font-semibold);
}

header ul li a:hover {
  color: var(--color-amarillo);
}
