
:root {
  /*primary colors*/
  --color-azul: #007bff;
  --color-verde: #28a745;
  --color-amarillo: #ffc107;
  --color-blanco: #ffffff;
  --color-negro: #000000;
  /*font-family*/
  --font-family: 'Poppins', sans-serif;
  /*font-weights*/
  --font-light: 100;
  --font-regular: 400;
  --font-semibold: 600;
  --font-bold: 700;
}
html {
  scroll-behavior: smooth;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-blanco);
  color: var(--color-negro);

}

/*  header */
header {
  background-color: var(--color-azul);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

header .logo img {
  max-width: 150px;
align-items: center;
}

header ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

header ul li {
  display: inline;
}

header ul li a {
  color: var(--color-blanco);
  text-decoration: none;
  font-weight: var(--font-semibold);
}

header ul li a:hover {
  color: var(--color-amarillo);
} 

/* Estilos del banner */
.banner {
  position: relative;
  text-align: center;
  color: var(--color-blanco);
}

.banner img {
  width: 100%;
  height: auto;
  display: block;
}

.banner-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner h1 {
  font-size: 3rem;
  font-weight: var(--font-bold);
}

.banner p {
  font-size: 1.2rem;
  font-weight: var(--font-regular);
}

/*  secciones */
section {
  padding: 50px;
}

.we {
  text-align: center;
}

.we h2 {
  color: var(--color-azul);
  font-weight: var(--font-bold);
  font-size: 2rem;
}

.we p {
  font-size: 1.1rem;
  max-width: 800px;
  margin: 0 auto;
  color: var(--color-negro);
}

/* servicios */
.services-grid {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.services-item {
  flex: 1;
  text-align: center;
  background-color: var(--color-verde);
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.services-item img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}

.services-item h3 {
  color: var(--color-blanco);
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: var(--font-semibold);
}

.services-item p {
  color: var(--color-blanco);
  font-size: 1rem;
}

.services-item:hover {
  transform: scale(1.05);
}

/* footer */
footer {
  background-color: var(--color-azul);
  color: var(--color-blanco);
  padding: 20px;
  text-align: center;
}

footer h2 {
  font-weight: var(--font-bold);
}

footer p {
  margin: 10px 0;
}

footer .copyright {
  margin-top: 20px;
  font-size: 0.9rem;
  color: var(--color-amarillo);
}



